<item>
  <title>en.wikipedia.org/wiki/Intersections</title>
  <link>https://en.wikipedia.org/wiki/Intersections</link>
  <description>Wikipedia entry for Intersections.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://en.wikipedia.org/wiki/Intersections</guid>
</item>
<item>
  <title>snnkv.com</title>
  <link>https://snnkv.com</link>
  <description>The owner's personal site.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://snnkv.com</guid>
</item>
<item>
  <title>news.ycombinator.com</title>
  <link>https://news.ycombinator.com</link>
  <description>Hacker News - always something to read.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://news.ycombinator.com</guid>
</item>
<item>
  <title>github.com/google/guava</title>
  <link>https://github.com/google/guava</link>
  <description>A core Java library from Google.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://github.com/google/guava</guid>
</item>
