<item>
  <title>theregister.com/2026/01/05/aws_price_increase</title>
  <link>https://www.theregister.com/2026/01/05/aws_price_increase/</link>
  <description>AWS опять делает свою авээсную магию.</description>
  <pubDate>Tue, 06 Jan 2026 16:58:57 +0000</pubDate>
  <guid>https://www.theregister.com/2026/01/05/aws_price_increase/</guid>
</item>
<item>
  <title>makezine.com/article/maker-news/maker-faire/the-chompsaw-a-powerful-tool-for-kids-creation</title>
  <link>https://makezine.com/article/maker-news/maker-faire/the-chompsaw-a-powerful-tool-for-kids-creation/</link>
  <description>Make mag превратился в какой-то кринж-зин.</description>
  <pubDate>Tue, 06 Jan 2026 16:49:05 +0000</pubDate>
  <guid>https://makezine.com/article/maker-news/maker-faire/the-chompsaw-a-powerful-tool-for-kids-creation/</guid>
</item>
<item>
  <title>example.com/redesign</title>
  <link>https://example.com/redesign</link>
  <description>Final check of the refined design.</description>
  <pubDate>Tue, 06 Jan 2026 15:46:06 +0000</pubDate>
  <guid>https://example.com/redesign</guid>
</item>
<item>
  <title>hackaday.com/2026/01/06/super-mario-64-now-with-microtransactions</title>
  <link>https://hackaday.com/2026/01/06/super-mario-64-now-with-microtransactions/</link>
  <description></description>
  <pubDate>Tue, 06 Jan 2026 15:39:42 +0000</pubDate>
  <guid>https://hackaday.com/2026/01/06/super-mario-64-now-with-microtransactions/</guid>
</item>
<item>
  <title>simonwillison.net/2026/Jan/5/its-hard-to-justify-tahoe-icons/#atom-everything</title>
  <link>https://simonwillison.net/2026/Jan/5/its-hard-to-justify-tahoe-icons/#atom-everything</link>
  <description>Это довольно большая ссылка которая необходима чтобы протестировать вёрстку.</description>
  <pubDate>Tue, 06 Jan 2026 15:36:15 +0000</pubDate>
  <guid>https://simonwillison.net/2026/Jan/5/its-hard-to-justify-tahoe-icons/#atom-everything</guid>
</item>
<item>
  <title>en.wikipedia.org/wiki/Intersections</title>
  <link>https://en.wikipedia.org/wiki/Intersections</link>
  <description>Wikipedia entry for Intersections.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://en.wikipedia.org/wiki/Intersections</guid>
</item>
<item>
  <title>snnkv.com</title>
  <link>https://snnkv.com</link>
  <description>The owner's personal site.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://snnkv.com</guid>
</item>
<item>
  <title>news.ycombinator.com</title>
  <link>https://news.ycombinator.com</link>
  <description>Hacker News - always something to read.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://news.ycombinator.com</guid>
</item>
<item>
  <title>github.com/google/guava</title>
  <link>https://github.com/google/guava</link>
  <description>A core Java library from Google.</description>
  <pubDate>Tue, 06 Jan 2026 14:14:44 +0000</pubDate>
  <guid>https://github.com/google/guava</guid>
</item>
