<item>
  <title>The third golden age of software engineering – thanks to AI, with Grady Booch</title>
  <link>https://newsletter.pragmaticengineer.com/p/the-third-golden-age-of-software?hide_intro_popup=true</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Гради Буч, по книжкам которого я учился в вузе, говорит &quot;Всё нормально. Just keep building.&quot; Если уж не верить дедам, то непонятно кому вообще тогда верить.</p>]]></description>
  <pubDate>Sun, 15 Feb 2026 13:55:50 +0200</pubDate>
  <guid>https://newsletter.pragmaticengineer.com/p/the-third-golden-age-of-software?hide_intro_popup=true</guid>
</item>
<item>
  <title>Guided missile of the early 1960s, before microprocessors were available</title>
  <link>https://www.reddit.com/r/EngineeringPorn/comments/1r0yuk8/guided_missile_of_the_early_1960s_before/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Самонаводящаяся ракета на релейной логике из 60х выглядела примерно так. Где-то в это же время Борис Черток делал ракету с астронавигацией (зрением) на релейной логике.</p>]]></description>
  <pubDate>Thu, 12 Feb 2026 11:35:42 +0200</pubDate>
  <guid>https://www.reddit.com/r/EngineeringPorn/comments/1r0yuk8/guided_missile_of_the_early_1960s_before/</guid>
</item>
<item>
  <title>Ferrari Luce - Ferrari.com</title>
  <link>https://www.ferrari.com/en-US/auto/ferrari-luce</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Надолго залип на странице с рендерами интерьера новой электрической Ferrari. Так хорошо у дизайнеров получается вписать прошлое в будущее и подружить паттерны из F1 с деталями тракторов.</p>]]></description>
  <pubDate>Wed, 11 Feb 2026 11:32:32 +0200</pubDate>
  <guid>https://www.ferrari.com/en-US/auto/ferrari-luce</guid>
</item>
<item>
  <title>Text is king - by Adam Mastroianni</title>
  <link>https://www.experimental-history.com/p/text-is-king</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Говорят текст никуда не денется и переживёт всех. &quot;I gave them all the YouTube Shorts they could ever desire and they’re still...reading!!&quot;</p>]]></description>
  <pubDate>Mon, 09 Feb 2026 11:43:08 +0200</pubDate>
  <guid>https://www.experimental-history.com/p/text-is-king</guid>
</item>
<item>
  <title>GitHub - schollz/_core: firmware for the zeptocore, zeptoboard, ectocore, and ezeptocore</title>
  <link>https://github.com/schollz/_core</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Зак Шольц делает уже третий подход к еврорэку. На этот раз Ezeptocore. Схемотехника открыта и основана на Plaits. Только в качестве мозгов там RP2040.</p>]]></description>
  <pubDate>Sat, 07 Feb 2026 18:22:43 +0200</pubDate>
  <guid>https://github.com/schollz/_core</guid>
</item>
<item>
  <title>Digital Iris</title>
  <link>https://www.youtube.com/watch?v=Kg_2MAgS_pE</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Инженеры изобретают совершенно разную дичь из говна и ниток. Электронная шторка для вашей зекралки. Со всеми вытекающими «анимированными» боке.</p>]]></description>
  <pubDate>Sat, 07 Feb 2026 17:48:07 +0200</pubDate>
  <guid>https://www.youtube.com/watch?v=Kg_2MAgS_pE</guid>
</item>
<item>
  <title>Tangible Media: A Historical Collection of Information Storage Technology</title>
  <link>https://tangiblemediacollection.com/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Цифровой музей альтернативных способов хранить информацию в условиях когда (очередной) эйай (снова) съел всю память. Восковой цилиндр! Я выбираю тебя 🪄</p>]]></description>
  <pubDate>Fri, 06 Feb 2026 11:27:48 +0200</pubDate>
  <guid>https://tangiblemediacollection.com/</guid>
</item>
<item>
  <title>Japan&#x27;s Gran-Prix-Style Office Chair Racing Event</title>
  <link>https://www.core77.com/posts/141120/Japans-Gran-Prix-Style-Office-Chair-Racing-Event#</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>У них ведь наверняка есть статистика по брендам и моделям-победителям. Хороший краш-тест в условиях когда «болиды» запрещено модифицировать.</p>]]></description>
  <pubDate>Fri, 06 Feb 2026 11:19:44 +0200</pubDate>
  <guid>https://www.core77.com/posts/141120/Japans-Gran-Prix-Style-Office-Chair-Racing-Event#</guid>
</item>
<item>
  <title>Places to Telnet | telnet.org</title>
  <link>https://telnet.org/htm/places.htm</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Text based internet. Still standing.</p>]]></description>
  <pubDate>Wed, 04 Feb 2026 12:36:21 +0200</pubDate>
  <guid>https://telnet.org/htm/places.htm</guid>
</item>
<item>
  <title>How Vibe Coding Is Killing Open Source</title>
  <link>https://hackaday.com/2026/02/02/how-vibe-coding-is-killing-open-source/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>По-моему, ещё очень рано делать выводы. Тем более если основная метрика это посещаемость.</p>]]></description>
  <pubDate>Wed, 04 Feb 2026 12:32:15 +0200</pubDate>
  <guid>https://hackaday.com/2026/02/02/how-vibe-coding-is-killing-open-source/</guid>
</item>
<item>
  <title>A guide to home row mods</title>
  <link>https://precondition.github.io/home-row-mods</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Гайд по настройке модификаторов на клавиатуре. Уровень исследования: 10 моих дипломных работ.</p>]]></description>
  <pubDate>Mon, 02 Feb 2026 21:55:08 +0200</pubDate>
  <guid>https://precondition.github.io/home-row-mods</guid>
</item>
<item>
  <title>Moltbook is the most interesting place on the internet right now</title>
  <link>https://simonwillison.net/2026/Jan/30/moltbook/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Я безработный и даже у меня нет времени чтобы успевать пробовать всю ту чертовщину которая рождается вокруг AI со скоростью триллион новых продуктов в месяц.</p>]]></description>
  <pubDate>Mon, 02 Feb 2026 13:53:24 +0200</pubDate>
  <guid>https://simonwillison.net/2026/Jan/30/moltbook/</guid>
</item>
<item>
  <title>Yes, it&#x27;s 3D printed</title>
  <link>https://www.reddit.com/r/ErgoMechKeyboards/comments/1plx937/yes_its_3d_printed/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Когда-нибудь я попробую угореть и добиться такого финишинга на FFF печати. Но не сегодня.</p>]]></description>
  <pubDate>Sat, 31 Jan 2026 12:03:07 +0200</pubDate>
  <guid>https://www.reddit.com/r/ErgoMechKeyboards/comments/1plx937/yes_its_3d_printed/</guid>
</item>
<item>
  <title>/cleanup skill for Claude</title>
  <link>https://campedersen.com/cleanup</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Простой и понятный пример скилла для Claude. Вот бы в их собственной документации что-то такое показывали.</p>]]></description>
  <pubDate>Fri, 30 Jan 2026 22:54:00 +0200</pubDate>
  <guid>https://campedersen.com/cleanup</guid>
</item>
<item>
  <title>Cloudflare China Network | Cloudflare</title>
  <link>https://www.cloudflare.com/application-services/products/china-network/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Это чего, мы теперь на китайские заводы можем ходить из Большого Интернета?!</p>]]></description>
  <pubDate>Fri, 30 Jan 2026 12:26:10 +0200</pubDate>
  <guid>https://www.cloudflare.com/application-services/products/china-network/</guid>
</item>
<item>
  <title>Andrej Karpathy (@karpathy): &quot;A few random notes from claude coding quite a bit last few weeks.</title>
  <link>https://xcancel.com/karpathy/status/2015883857489522876</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Маэстро вернулся с новым state of coding LLMs</p>]]></description>
  <pubDate>Wed, 28 Jan 2026 15:50:31 +0200</pubDate>
  <guid>https://xcancel.com/karpathy/status/2015883857489522876</guid>
</item>
<item>
  <title>LTT shows Marcello &amp; Jimmy the Lollipop Star!</title>
  <link>https://www.youtube.com/shorts/ii5oUYpvkNU</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Позиция нашей компании: никаких несерьёзных технологий с серьёзным лицом.</p>]]></description>
  <pubDate>Sun, 25 Jan 2026 13:32:51 +0200</pubDate>
  <guid>https://www.youtube.com/shorts/ii5oUYpvkNU</guid>
</item>
<item>
  <title>Prediction: Microsoft Is Going To Do The Funniest Thing Imaginable</title>
  <link>https://gamesbymason.com/blog/2026/microsoft/</link>
  <description><![CDATA[<img src='https://intersections.snnkv.com/meta/interpections.jpg' alt='' /><p>Понимаю, что по ссылке аналитика категории B, но весь прошлый год регулярно натыкался на похожие статьи о том как Винде поплохело в 2025м и просвета не видно.</p>]]></description>
  <pubDate>Fri, 23 Jan 2026 23:42:22 +0200</pubDate>
  <guid>https://gamesbymason.com/blog/2026/microsoft/</guid>
</item>
<item>
  <title>kagisearch/smallweb: Kagi Small Web</title>
  <link>https://github.com/kagisearch/smallweb</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>У поисковика Kagi оказывается уже 2 года есть репозиторий со ссылками на живые (регулярно обновляемыми) standalone блоги и личные сайты на английском. С радостью бы покопался в чём-то подобном на русском языке.</p>]]></description>
  <pubDate>Thu, 22 Jan 2026 20:33:33 +0200</pubDate>
  <guid>https://github.com/kagisearch/smallweb</guid>
</item>
<item>
  <title>Intro to Embedded Rust - Part 1: What is Rust?</title>
  <link>https://www.youtube.com/watch?v=mz-vW-Ar_GM</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>У этого парня какой-то талант делать обучающие серии на душные темы простыми, аккуратными и не... душными. Можно просто посмотреть вечерком валяясь на диване. Жаль, видео выходят не очень часто.</p>]]></description>
  <pubDate>Thu, 22 Jan 2026 20:27:06 +0200</pubDate>
  <guid>https://www.youtube.com/watch?v=mz-vW-Ar_GM</guid>
</item>
<item>
  <title>how do I stop participating?</title>
  <link>https://geohot.github.io/blog/jekyll/update/2026/01/18/how-do-i-stop.html</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Geohot последовательно и непрерывно, годами, как заевшая пластинка, критикует не столько капитализм поздней стадии, сколько людей, которые создают в нём антиценность. &quot;To everyone working on ads, surveillance, gambling, secret research, enshittification, cloud lock-in, what are you doing with your life? Why are you selling out the future?&quot;</p>]]></description>
  <pubDate>Thu, 22 Jan 2026 16:31:01 +0200</pubDate>
  <guid>https://geohot.github.io/blog/jekyll/update/2026/01/18/how-do-i-stop.html</guid>
</item>
<item>
  <title>Stack Overflow in freefall: 78 percent drop in number of questions</title>
  <link>https://www.techzine.eu/news/devops/137686/stack-overflow-in-freefall-78-percent-drop-in-number-of-questions/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Этих ребят просто съели скрэперы. Результаты этого мы наверняка почувствуем на себе через несколько лет. Интернет не успевает за технологиями которые сам же и выращивает.</p>]]></description>
  <pubDate>Thu, 22 Jan 2026 11:25:22 +0200</pubDate>
  <guid>https://www.techzine.eu/news/devops/137686/stack-overflow-in-freefall-78-percent-drop-in-number-of-questions/</guid>
</item>
<item>
  <title>ThinkNext Design</title>
  <link>https://thinknextdesign.com/home.html</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Дэвид Хилл целую вечность делает «скучный» промдизайн для ThinkPad. Сначала при IBM, потом при Lenovo. Ничего важного за 30 лет облик этих устройств не потерял.</p>]]></description>
  <pubDate>Sun, 18 Jan 2026 23:16:52 +0200</pubDate>
  <guid>https://thinknextdesign.com/home.html</guid>
</item>
<item>
  <title>ASCII characters are not pixels: a deep dive into ASCII rendering</title>
  <link>https://alexharri.com/blog/ascii-rendering</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Отлично оформленный пост про ASCII-рендеринг. Оказывается именно там хранится та часть матана которая не влезла в dither-рендеринг.</p>]]></description>
  <pubDate>Sun, 18 Jan 2026 01:03:13 +0200</pubDate>
  <guid>https://alexharri.com/blog/ascii-rendering</guid>
</item>
<item>
  <title>Our Algorithmic Grey-Beige World</title>
  <link>https://om.co/2026/01/16/our-algorithmic-grey-beige-world/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Лучшие каналы на Ютюбе те, которым 17 лет и у них 800 подписчиков. Буквально всего 2 плоские, числовые метрики нужны чтобы найти лучший контент. Правда, искать по ним можно только через API.</p>]]></description>
  <pubDate>Sat, 17 Jan 2026 12:05:19 +0200</pubDate>
  <guid>https://om.co/2026/01/16/our-algorithmic-grey-beige-world/</guid>
</item>
<item>
  <title>torvalds/AudioNoise: Random digital audio effects</title>
  <link>https://github.com/torvalds/AudioNoise</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Да, это репозиторий с гитарной педалью от Линуса Торвальдса. По его собственным словам у него даже нет гитары. Глубоко понимаю такое.</p>]]></description>
  <pubDate>Fri, 16 Jan 2026 12:51:12 +0200</pubDate>
  <guid>https://github.com/torvalds/AudioNoise</guid>
</item>
<item>
  <title>Photos Capture the Breathtaking Scale of China&#x27;s Wind and Solar Buildout</title>
  <link>https://e360.yale.edu/digest/china-renewable-photo-essay</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Совершенно китайские масштабы.</p>]]></description>
  <pubDate>Thu, 15 Jan 2026 21:18:05 +0200</pubDate>
  <guid>https://e360.yale.edu/digest/china-renewable-photo-essay</guid>
</item>
<item>
  <title>Logitech Options+ Alternatives for MacOS</title>
  <link>https://rknight.me/blog/logitech-options-alternatives-for-macos/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Недавно захотелось вновь попробовать мышь вместо трэкпада на Mac. Зашёл на сайт Logitech в раздел Downloads и сразу вспомнил почему уже больше 15 лет не пользуюсь их девайсами.</p>]]></description>
  <pubDate>Thu, 15 Jan 2026 12:30:14 +0200</pubDate>
  <guid>https://rknight.me/blog/logitech-options-alternatives-for-macos/</guid>
</item>
<item>
  <title>SparkFun Officially Dropping AdaFruit due to CoC Violation</title>
  <link>https://news.ycombinator.com/item?id=46616488</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>В OSHW такой же серпентарий, как и всюду.</p>]]></description>
  <pubDate>Thu, 15 Jan 2026 11:35:02 +0200</pubDate>
  <guid>https://news.ycombinator.com/item?id=46616488</guid>
</item>
<item>
  <title>Visual Parts Counter - ESP32</title>
  <link>https://www.youtube.com/shorts/SG8ynTN-v4E</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Счётчик мелочи за 30 баксов на компьютерном зрении, но при этом без ML (что отлично). Думаю если в платформу добавить небольшой вибромотор чтобы компоненты медленно двигались и распутывались, будет ещё точнее.</p>]]></description>
  <pubDate>Wed, 14 Jan 2026 20:33:39 +0200</pubDate>
  <guid>https://www.youtube.com/shorts/SG8ynTN-v4E</guid>
</item>
<item>
  <title>An Open Source Electromagnetic Resonance Tablet</title>
  <link>https://hackaday.com/2026/01/14/an-open-source-electromagnetic-resonance-tablet/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Open-source планшет (EMR drawing tablet, который со стилусом). Меня такие проекты впечатляют сами по себе, но когда в демке автор запихнул его прямо под экран ноутбука и начал рисовать у меня совсем челюсть отвалилась.</p>]]></description>
  <pubDate>Wed, 14 Jan 2026 11:45:26 +0200</pubDate>
  <guid>https://hackaday.com/2026/01/14/an-open-source-electromagnetic-resonance-tablet/</guid>
</item>
<item>
  <title>First impressions of Claude Cowork, Anthropic’s general agent</title>
  <link>https://simonwillison.net/2026/Jan/12/claude-cowork/#atom-everything</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p></p>]]></description>
  <pubDate>Tue, 13 Jan 2026 11:07:46 +0200</pubDate>
  <guid>https://simonwillison.net/2026/Jan/12/claude-cowork/#atom-everything</guid>
</item>
<item>
  <title>GitHub - jesseduffield/lazydocker: The lazier way to manage everything docker</title>
  <link>https://github.com/jesseduffield/lazydocker</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>TUI для Докера чтобы забыть про Docker Desktop</p>]]></description>
  <pubDate>Tue, 13 Jan 2026 11:07:08 +0200</pubDate>
  <guid>https://github.com/jesseduffield/lazydocker</guid>
</item>
<item>
  <title>OLED… Not for me.</title>
  <link>https://nuxx.net/blog/2026/01/09/oled-not-for-me/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Присматриваюсь к OLED мониторам, но судя по отзывам тех кто за ними работает, а не играет, есть смысл продолжать ждать пока починять sub-pixel rendering. Этим проблемам скоро полвека, но они всё-равно всплывают в каждом новом поколении экранов.</p>]]></description>
  <pubDate>Mon, 12 Jan 2026 20:57:18 +0200</pubDate>
  <guid>https://nuxx.net/blog/2026/01/09/oled-not-for-me/</guid>
</item>
<item>
  <title>2025: As The Hardware World Turns</title>
  <link>https://hackaday.com/2026/01/05/2025-as-the-hardware-world-turns/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt='' /><p>Итоги 2025 от Hackaday.</p>]]></description>
  <pubDate>Sun, 11 Jan 2026 12:22:14 +0200</pubDate>
  <guid>https://hackaday.com/2026/01/05/2025-as-the-hardware-world-turns/</guid>
</item>
<item>
  <title>Bose open-sources its SoundTouch home speakers ahead of end-of-life</title>
  <link>https://arstechnica.com/gadgets/2026/01/bose-open-sources-its-soundtouch-home-theater-smart-speakers-ahead-of-eol/</link>
  <description><![CDATA[<img src='https://atarity.github.io/intersections/meta/interpections.jpg' alt=''><p>Bose под давлением клиентов опубликовала API для их старых колонок, которые были сделаны так хорошо, что пережили десятилетие.</p>]]></description>
  <pubDate>Fri, 09 Jan 2026 22:04:38 +0200</pubDate>
  <guid>https://arstechnica.com/gadgets/2026/01/bose-open-sources-its-soundtouch-home-theater-smart-speakers-ahead-of-eol/</guid>
</item>
<item>
  <title>Tools I loved in 2025</title>
  <link>https://kevinlynagh.com/newsletter/2026_01_tools</link>
  <description></description>
  <pubDate>Fri, 09 Jan 2026 15:43:58 +0200</pubDate>
  <guid>https://kevinlynagh.com/newsletter/2026_01_tools</guid>
</item>
<item>
  <title>Obra Dinn&apos;s &quot;pixel art&quot; is actually genius</title>
  <link>https://www.youtube.com/watch?v=_3qzyAHMoUU</link>
  <description>Тут говорят, что лучший dithering, на который способно человечество, в игре Return of Obra Dinn.</description>
  <pubDate>Thu, 08 Jan 2026 21:40:55 +0200</pubDate>
  <guid>https://www.youtube.com/watch?v=_3qzyAHMoUU</guid>
</item>
<item>
  <title>Pokémon карточки как бизнес‑шаблон (техно‑ностальгия идёт туда же)</title>
  <link>https://vas3k.club/post/30501/</link>
  <description></description>
  <pubDate>Thu, 08 Jan 2026 15:54:41 +0200</pubDate>
  <guid>https://vas3k.club/post/30501/</guid>
</item>
<item>
  <title>AMD Failed Us - YouTube</title>
  <link>https://www.youtube.com/watch?v=WsCrKGY9F1o</link>
  <description>Стив из Gamers Nexus 10 минут угорает с презентации AMD для Consumer Electronic Show потому, что в ней нет ничего про consumers.</description>
  <pubDate>Thu, 08 Jan 2026 12:17:21 +0200</pubDate>
  <guid>https://www.youtube.com/watch?v=WsCrKGY9F1o</guid>
</item>
<item>
  <title>39C3: Power Cycles- media.ccc.de</title>
  <link>https://media.ccc.de/b/congress/2025</link>
  <description>Все видео с докладов декабрьского CCC (39C3) уже обработаны и опубликованы. Есть интересные.</description>
  <pubDate>Wed, 07 Jan 2026 23:55:59 +0200</pubDate>
  <guid>https://media.ccc.de/b/congress/2025</guid>
</item>
<item>
  <title>Industrial Designer Adam Miklosi&apos;s Fun, Modular Coat Rack</title>
  <link>https://www.core77.com/posts/139974/Industrial-Designer-Adam-Miklosis-Fun-Modular-Coat-Rack</link>
  <description>Думать про экструдированный профиль почти так же приятно как про Римскую Империю. 🖤</description>
  <pubDate>Wed, 07 Jan 2026 23:39:55 +0200</pubDate>
  <guid>https://www.core77.com/posts/139974/Industrial-Designer-Adam-Miklosis-Fun-Modular-Coat-Rack</guid>
</item>