<item>
  <title>You can have transparent PCBs now??? - YouTube</title>
  <link>https://www.youtube.com/watch?v=jDI_Xw7IoPI</link>
  <description>Тут PCBWay из под полы (по запросу в каментах) продают платы на прозрачном текстолите. Не стекле, а именно FR4. Никогда такого не видел.</description>
  <pubDate></pubDate>
  <guid>https://www.youtube.com/watch?v=jDI_Xw7IoPI</guid>
</item>
