<item>
  <title>GitHub - microsoft/vscode: Visual Studio Code</title>
  <link>https://github.com/microsoft/vscode</link>
  <description>The code editor we all use.</description>
  <pubDate>Tue, 06 Jan 2026 18:19:20 +0000</pubDate>
  <guid>https://github.com/microsoft/vscode</guid>
</item>
